 .myself
       {
           background-color : #4ea4b4;
           color : white;
           margin-top : 15px;
           padding-left:30px;
           height : 380px;
           
       }
      
       img{
           margin-left : 20px;
       }

       #Calc{height: 50px;
             width:35px;
       }

       nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100px;
    
    
    padding:5px;
    padding-top : 20px;
    
}
